<div id="<%= dom_id compute_request %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= compute_request.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Gpu count:</strong>
    <%= compute_request.gpu_count %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Cpu count:</strong>
    <%= compute_request.cpu_count %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Memory gb:</strong>
    <%= compute_request.memory_gb %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Hours:</strong>
    <%= compute_request.hours %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Partition:</strong>
    <%= compute_request.partition %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Priority:</strong>
    <%= compute_request.priority %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= compute_request.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= compute_request.notes %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Created at:</strong>
    <%= compute_request.created_at %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Updated at:</strong>
    <%= compute_request.updated_at %>
  </div>
</div>
